
#intro {
  background-color:red;
}
.hello {background-color: blue;
}
body {
background-color: #93B874;
 }
    h1 {
      font-family: verdana;
    }
    p {
      color: blue;
    }
    i {
      font-size: 600%;
    }
